#title {
    text-align: center;
    text-shadow: 2px 2px #1fc600;
    padding-top: 20px;
}

#background {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEXT09OdeqMBAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    background-size: 600px 300px;
    background-position: top;

}

p {
    text-align: center;
}

a {
    color: whitesmoke;
}
#enter-btn {
    border: 0px;
    border-radius: 15px;
    width: 300px;
    height: 40px;
    margin: 10px auto;;
    background-color: #1fc600;
    font-family: 'Arvo', serif;
    position: relative;
    left: 565px;
}

#enter-btn:hover {
    background-color: #089000;
}